<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>21Cake蛋糕官网_24小时蛋糕网上订购_5小时新鲜送达！</title>
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/home-page.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/liucoupan.css">
</head>
<body>
<!--头部导航-->
<%-include("common/header.ejs")%>
<!--头部导航结束-->

<!--内容区-->
<section id="section">
    <div class="center">
        <div class="dingDan-hd">
            <ul class="clearfix">
                <li class="colorLi bothUse">
                    全部(2)

                </li>
                <li class="bothUse hiddenUl">
                    可用(2)
                    <ul>
                        <li>当前可用(2)</li>
                        <li>即将可用(0)</li>
                        <li>城市限定(0)</li>
                        <li>等级限定(0)</li>
                    </ul>
                </li>
                <li class="bothUse hiddenUl">
                    不可用(0)
                    <ul>
                        <li>已使用(0)</li>
                        <li>已过期(0)</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--/内容区-->

<section>
    <div class="center">
        <div class="bgcHeight">
            <!--第一个优惠券-->
            <div class="coupan">
                <div class="lookMessage">
                    <p> 纪念日活动总有一款适合你兑换券</p>
                    <a href="#" class="clickLook">查看 ></a>
                    <div></div>
                    <p class="blockClick">券号：BHDDH67AC4C35</p>
                    <p class="blockClick">实付满198元可获得一张福袋券，券内产品
                        <br>
                        包含：冰淇淋1个（随机口味）+巴西挂耳咖
                        <br>
                        啡一袋+耶加雪啡挂耳咖啡一袋</p>
                    <img src="../images/6-7.jpg" alt="" width="45px">
                    <img src="../images/6-5.jpg" alt="" width="45px">
                    <img src="../images/3-2.jpg" alt="" width="45px">
                    <br>
                    <p class="clearfix"></p>
                    <span>有效期：
            <br>
                2018-11-30 00:00:00
            </span>

                    <button class="cakePages">使用</button>
                    <button>转赠</button>
                    <p class="clearfix"></p>

                    <strong></strong>
                    <strong></strong>
                </div>
            </div>

            <!--第二个优惠券-->
            <div class="coupan">
                <div class="lookMessage">
                    <p> 纪念日活动总有一款适合你兑换券</p>
                    <a href="#" class="clickLook">查看 ></a>
                    <div></div>
                    <p class="blockClick">券号：BHDDH67AC4C35</p>
                    <p class="blockClick">实付满198元可获得一张福袋券，券内产品
                        <br>
                        包含：冰淇淋1个（随机口味）+巴西挂耳咖
                        <br>
                        啡一袋+耶加雪啡挂耳咖啡一袋</p>
                    <img src="../images/6-7.jpg" alt="" width="45px">
                    <img src="../images/6-5.jpg" alt="" width="45px">
                    <img src="../images/3-2.jpg" alt="" width="45px">

                    <br>
                    <p class="clearfix"></p>
                    <span>有效期：
            <br>
                2018-11-30 00:00:00
            </span>


                    <button class="cakePages">使用</button>
                    <button>转赠</button>
                    <p class="clearfix"></p>
                    <strong></strong>
                    <strong></strong>
                </div>


            </div>
        </div>
    </div>
</section>

<!--页脚-->
<%-include("common/footer.ejs")%>
<!--/页脚-->
<script src="../lib/jquery-1.12.4.js"></script>
<script src="../js/home-page.js"></script>
<script src="../js/footer.js"></script>
<script src="../js/liucoupan.js"></script>
<script src="dengluZT.js"></script>


</body>
</html>